<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smit.leftright">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.NoTitleBar">
        <activity android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".HighScore"
            android:theme="@style/Theme.AppCompat.NoActionBar">

        </activity>
        <activity android:name=".HowToPlay"
            android:theme="@style/Theme.AppCompat.NoActionBar">

        </activity>
        <activity android:name=".SplashScreen"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".Level1_pre"
            android:theme="@style/Theme.AppCompat.NoActionBar">

        </activity>
        <activity android:name=".Bakwas"
            android:theme="@style/Theme.AppCompat.NoActionBar">

        </activity>
        <activity android:name=".Finish"
            android:theme="@style/Theme.AppCompat.NoActionBar">

        </activity>
        <activity android:name=".Level1"
            android:theme="@style/Theme.AppCompat.NoActionBar">

        </activity>
        <activity android:name=".Level2"
            android:theme="@style/Theme.AppCompat.NoActionBar">

        </activity>
        <activity android:name=".Level2_pre"
            android:theme="@style/Theme.AppCompat.NoActionBar">

        </activity>
        <activity android:name=".Level3"
            android:theme="@style/Theme.AppCompat.NoActionBar">

        </activity>
        <activity android:name=".Level3_pre"
            android:theme="@style/Theme.AppCompat.NoActionBar">

        </activity>
        <activity android:name=".Level_Change"
            android:theme="@style/Theme.AppCompat.NoActionBar">

        </activity>
        <activity android:name=".Reverse1"
            android:theme="@style/Theme.AppCompat.NoActionBar">

        </activity>
        <activity android:name=".Reverse2"
            android:theme="@style/Theme.AppCompat.NoActionBar">

        </activity>
        <activity android:name=".Reverse3"
            android:theme="@style/Theme.AppCompat.NoActionBar">

        </activity>
    </application>

</manifest>